# 强制严格遵循 package 的 engines 字段。
# 如果当前环境不满足 engines 字段，安装将会失败。
engine-strict = true

# 如果尚未安装对等依赖项，则自动安装它们。
auto-install-peers = true

# 即使存在未满足的对等依赖项，也允许安装包。
strict-peer-dependencies = false

# 设置用于包安装的注册表 URL。
registry = https://registry.npmmirror.com
